{{ $headless := .Site.GetPage "/sections" }}
{{ $about := $headless.Resources.GetMatch (printf "*%s*" "about") }}

<div id="about" class="w-full min-h-screen flex flex-col justify-center items-center py-12">
    <div class="self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px:0">
        <h2 class="font-bold tracking-wider text-gray-800 text-4xl mb-4">{{ $about.Title }}</h2>
        <div class="font-light text-black text-xl">
            {{ $about.Content }}
        </div>
        <img class="my-12 max-w-full mx-auto" src="/img/undraw_asset_selection_ix3v.svg" alt="AWE.SOME">
    </div>
    <div class="flex flex-row w-full justify-center">
        <a class="px-10 py-2 text-gray-200 bg-pink-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red" href="/#features">See How it Works</a>
    </div>
</div>
