{{ $headless := .Site.GetPage "/sections" }}
{{ $reg := $headless.Resources.GetMatch (printf "*%s*" "register") }}

<div id="register" class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-800">
    <div class="self-center text-center w-full xl:w-1/3 px-4 sm:px:0">
        <h2 class="font-bold tracking-widest text-gray-200 text-4xl mb-4">{{ $reg.Title }}</h2>
        <div class="font-light text-gray-400 text-xl">
            {{ $reg.Content }}
        </div>
        <div class="flex flex-row w-full justify-center pt-6">
            <a class="px-10 py-2 text-gray-200 bg-pink-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red" href="https://www.getrevue.co/profile/librefund/add_subscriber">Register Form</a>
        </div>
    </div>
</div>
