<footer class="w-full flex flex-col sm:flex-row sm:justify-center text-lg tracking-wide px-4 sm:px-0 py-16">
    <div class="text-center pr-0 sm:pr-8 py-4">
        <ul class="list-none">
            {{ range .Site.Params.social }}
                <li>
                    <a class="text-gray-800 hover:text-pink-600 no-underline" href="{{ .url }}" target="_blank" rel="_noopener">{{ .title }}</a>
                </li>
            {{ end }}
        </ul>
    </div>
    <div class="h-px sm:h-auto w-1/2 sm:w-px bg-pink-600 mx-auto sm:mx-0"></div>
    <div class="text-center px-8 py-4">
        <ul class="list-none">
            <li>
                <a class="text-gray-800 hover:text-pink-600 no-underline" href="#about">About</a>
            </li>
            <li>
                <a class="text-gray-800 hover:text-pink-600 no-underline" href="#features">Features</a>
            </li>
        </ul>
    </div>
    <div class="h-px sm:h-auto w-1/2 sm:w-px bg-pink-600 mx-auto sm:mx-0"></div>
    <div class="text-center pl-0 sm:pl-8 py-4">
        <ul class="list-none">
            <li>
                <a class="text-gray-800 hover:text-pink-600 no-underline" href="/privacy">Privacy</a>
            </li>
            <li>
                <a class="text-gray-800 hover:text-pink-600 no-underline" href="/imprint">Imprint</a>
            </li>
        </ul>
    </div>
</footer>
<div class="w-full">
    <span class="block text-center text-gray-800 text-sm font-light">
        &copy; David Vaquero Santiago {{ now.Format "2006" }}
    </span>
</div>
<div class="">
    <a id="btt" class="hidden fixed bottom-0 right-0 mb-4 mr-4 text-gray-200 border border-pink-600 hover:bg-gray-200 hover:text-pink-600 hover:border-browngray no-underline px-6 py-1 bg-pink-600 shadow-md" href="{{ if .IsHome }}#top{{ else }}{{ .Permalink }}#top{{ end }}" title="Back to Top">UP</a>
</div>
{{/*  GITHUB ICON  */}}
<div class="fixed bottom-0 left-0 m-6">
  <a href="https://gitlab.com/pepesan/librefund-landingpages" target="_blank" rel="noopener" title="Get this theme @ GitHub" class="block rounded-full bg-black text-pink-600 hover:bg-white hover:text-black shadow-md p-4">
    <img src="/img/gitlab.svg" width="30" height="30" class="block" alt="GitHub icon">
  </a>
</div>
<!-- "Follow" Tooltip template -->
<style>
    .tippy-tooltip {
        background-color: #656D78;
        color: #323A45;
        opacity: 0.85;
    }

    .tippy-tooltip[data-animatefill] {
        background-color: transparent;
    }

    .tippy-tooltip .tippy-backdrop {
        background-color: #656D78;
        opacity: 0.5;
    }

    .tippy-tooltip[x-placement^='bottom'] .tippy-arrow {
        border-bottom-color: #656D78;
    }
</style>
<template id="followTip">
    {{ range .Site.Params.social }}
        <a href="{{ .url }}" class="inline-block text-gray-200 text-sm bg-pink-600 shadow-md hover:bg-gray-200 hover:text-gray-800 no-underline p-1 px-4 mx-2 my-1" target="_blank" rel="noopener">{{ .title }}</a>
    {{ end }}
</template>
