<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- PRELOAD CDN SCRIPTS -->
<link rel="stylesheet" href="/css/page.css" as="style">
<link rel="preconnect" href="https://unpkg.com/popper.js@1" as="script">
<link rel="preconnect" href="https://unpkg.com/tippy.js@4" as="script">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ with .Description }}{{.}}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}">
<meta name="author" content="{{ .Site.Params.author.name }}">
<meta name="robots" content="index,follow">
<!-- BEGIN SOCIAL META DATA -->
        {{ template "_internal/twitter_cards.html" . }}
        {{ template "_internal/opengraph.html" . }}
<!-- ./END SOCIAL META DATA -->
<base href="{{ .Site.BaseURL }}">
<meta name="theme-color" content="#ffffff">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Author.name }}{{ end }}</title>
<!--link rel="stylesheet" href="css/page.css"-->
<link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico">
{{- if ne .Site.Params.googleAnalytics "" -}}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3BVXHLFQVK"></script>
<script>
    var doNotTrack = false;
    if (!doNotTrack) {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-3BVXHLFQVK', { 'anonymize_ip': false });
    }
</script>
{{- end -}}
